<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>View</title>
</head>

<body>
	<td><a th:href="@{|/flight/add/${pilot.licenseNumber}|}">Add Flight</a></td>
	<td><a th:href="@{|/pilot/delete/${pilot.licenseNumber}|}">Delete Pilot</a></td>
	
	<h2 th:text="'Pilot License Number : ' + ${pilot.licenseNumber}"></h2>
	<h2 th:text="'Name : ' + ${pilot.name}"></h2>
	<h2 th:text="'Fly Hour : ' + ${pilot.flyHour}"></h2>
	<br><br>
	
	<h2>List of Flight</h2>
	<div th:each="flight : ${listFlight}">
		<h3 th:text="'Flight Number: ' + ${flight.flightNumber}"></h3>
		<h3 th:text="'Origin : ' + ${flight.origin}"></h3>
		<h3 th:text="'Destination : ' + ${flight.destination}"></h3>
		<h3 th:text="'Time : ' + ${flight.time}"></h3>
		<br>
	</div>
	
</body>

</html>